*{
    font-family: Montserrat;
}
body{
    background-color: #6d6a6a
}

div.main{
    display: relative;
}

.container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}

#left{
    position: relative;
    margin-top: 9%;
    width: 37.25%;
    height: 60%;
    margin-left: 14%;
    background-color: #E3004F;

}

#right{
    margin-top: 8%;
    width: 42%;
    height: 65%;
    margin-right: 15%;
    margin-bottom: 20%;
    background-color: #ffffff;
}

#left h3, p{
    color: #ffffff;
}

h3{
    letter-spacing: 4px;
    font-size: 1.76vw;
    margin-left: 36%;
}

.container p{
    font-size: 1vw;
    margin-left: 38%;
}

div.main .vct{
    position: absolute;
    bottom: 0;
    right: 115px;
}

div.main .vct1{
    position: absolute;
    bottom: 0;
    right: 20px;
}

div.main .vct2{
    position: absolute;
    bottom: 0;
    right: 0;
}

div#right .topo{
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: space-between;
}

div#right .list-w{
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: space-between;
}

div#right .list-p{
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: space-between;
}

div#right .list-d{
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: space-between;
}

div#right .list-t{
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: space-between;
}

div#right .list-menu-one{
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: space-between;
}

div#right .list-menu-two{
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: space-between;
}

div#right p{
    color: #55617D;
}

.topo{
    display: block;
    padding: 50px;
    align-items: center;
}

.topo img{
    width: 50px;
    margin-left: 15%;
}

.topo p{
    margin-right: 15%;
}

.list-w{
    display: block;
    padding: 0;
    align-items: center;
}

.list-p{
    display: block;
    padding: 0;
    align-items: center;
}

.list-d{
    display: block;
    padding: 0;
    align-items: center;
}

.list-t{
    display: block;
    padding: 0;
    align-items: center;
}

.list-menu-one{
    display: block;
    padding: 0;
    align-items: center;
}

.list-menu-two{
    display: block;
    padding: 0;
    align-items: center;
}

.list-w p{
    margin-left: 20%;
    margin-right: 20%;
}

.list-p p{
    margin-left: 20%;
    margin-right: 19%;
}

.list-d p{
    margin-left: 20%;
    margin-right: 20%;
}

.list-t p{
    margin-left: 20%;
    margin-right: 16%;
}

.list-menu-one p{
    margin-left: 20%;
    margin-right: 20%;
}

.list-menu-two p{
    margin-left: 20%;
    margin-right: 20%;
}

p#total{
    font-size: 25px;
}


@media (max-width: 780px) {
     div.main .vct img{
        width: 85px;
        margin-right: -49px;
    }

    div.main .vct1 img{
        width: 60px;
        margin-right: -6px;
    }

    div.main .vct2 img{
        width: 40px;
    }

    .topo img{
        width: 50px;
        margin-left: 5%;
    }

    @media (max-width: 453px) {
        div.main .vct img{
           width: 43px;
           display: block;
           margin-left: 350px;
       }
   
       div.main .vct1 img{
           width: 35px;
           margin-right: -4px;
           display: block;
       }
   
       div.main .vct2 img{
           width: 25px;
           display: block;
       }
   
       .topo img{
           width: 50px;
           margin-left: 5%;
       }

}